.search-profile-icon {
  border-radius: 15%;
  width: 25px;
  height: 25px;
}

.recent-search-button {
  color: white !important;
  width: 50px;
}

/* smaller screens */
@media screen and (max-width: 800px) {
  .app-title {
    font-weight: 500;
    font-size: 34px;
    color: white;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
  }

  .searchbar-group {
    overflow: visible;
  }
  
  .white-background {
    background-color: white !important;
  }
  
  .app-title:hover,
  .app-title:active {
    cursor: default;
  }
  
  .selected-region-button {
    border: none !important;
    width: 50px;
  }
  
  .region-button {
    border: none !important;
    width: 50px;
    height: 30px;
  }
  
  .search-bar {
    min-width: 10px !important;
    padding: 0px !important;
    overflow: auto;
  }
  
  .search-bar:focus {
    box-shadow: none !important;
  }
  
  .search-button {
    margin: 0 !important;
    padding: 0px !important;
    border: none !important;
  }
  
  .search-icon {
    color: gray;
  }

  .no-data-summoner-name {
    margin-top: 5px;
    font-weight: 600;
    font-size: auto;
    color: white;
  }

  .my-summoner-width {
    width: 100%;
  }

  .my-summoner-background {
    color: white !important;
    background-color: #121229!important;
    border: none !important;
  }

  .my-rank-crest {
    width: 25px;
    height: 25px;
  }

  .my-profile-icon {
    border-radius: 5%;
    width: 70px;
    height: 70px;
  }

  .register-summoner-icon {
    width: 64px;
    height: 64px;
  }

  .summoner-profile-icon {
    width: 64px;
    height: 64px;
    border-radius: 5%;
  }

  .summoner-name-label {
    color: white;
    max-width: 100%;
    font-size: 4vw;
  }

  .view-details-button {
    background-color: rgb(107, 146, 250) !important;
    border: none !important;
    width: 100%
  }
}

/* larger screens */
@media screen and (min-width: 801px) {
  .app-title {
    font-weight: 500;
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
  }

  .searchbar-group {
    max-width: 50% !important;
    overflow: auto;
  }
  
  .white-background {
    background-color: white !important;
  }
  
  .app-title:hover,
  .app-title:active {
    cursor: default;
  }
  
  .selected-region-button {
    border: none !important;
    width: 50px;
  }
  
  .region-button {
    border: none !important;
    width: 50px;
    height: 30px;
  }
  
  .search-bar {
    min-width: 40px !important;
    padding: 0px !important;
    overflow: auto;
  }
  
  .search-bar:focus {
    box-shadow: none !important;
  }
  
  .search-button {
    margin: 0 !important;
    padding: 0px !important;
    border: none !important;
  }
  
  .search-icon {
    color: gray;
  }

  .recent-searches {
    max-width: 50% !important;
  }

  .no-data-summoner-name {
    margin-top: 8px;
    font-weight: 600;
    font-size: 30px;
    color: white;
  }

  .my-summoner-width {
    width: 50%;
  }

  .my-summoner-background {
    color: white !important;
    background-color: #121229!important;
    border: none !important;
  }

  .my-rank-crest {
    width: 40px;
    height: 40px;
  }

  .my-profile-icon {
    border-radius: 5%;
    width: 110px;
    height: 110px;
  }

  .register-summoner-icon {
    width: 100px;
    height: 100px;
  }

  .summoner-profile-icon {
    width: 100px;
    height: 100px;
    border-radius: 5%;
  }

  .summoner-name-label {
    color: white;
    max-width: 50%;
    font-size: 2.5vw;
  }

  .register-summoner-label {
    margin-left: 8px;
    font-size: 26px;
  }

  .view-details-button {
    background-color: rgb(107, 146, 250) !important;
    border: none !important;
    width: 100%
  }
}
