.app-title {
    font-weight: 500;
    font-size: 70px;
    color: white;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
}

.white-background {
    background-color: white !important;
}

.app-title:hover, .app-title:active {
    cursor: default;
}

.region-button {
    border-radius: 0;
    background-color: #6b92fa !important;
}

.search-bar:focus {
    box-shadow: none !important;
}

.search-button {
    border: none !important;
}

.search-icon {
    color: gray;
}