.win {
	background-color: #506ca6;
	border-left: #3785c4 6px solid;
	border-right: #3785c4 6px solid;
}

.win-more-details {
	background-color: #3785c4;
}

.win-text {
	color: #1b54cf;
	font-weight: 550;
}

.loss {
	background-color: #a0575c;
	border-left: #c43739 6px solid;
	border-right: #dd4a4d 6px solid;
}

.loss-more-details {
	background-color: #dd4a4d;
}

.loss-text {
	color: #b82125;
	font-weight: 550;
}

.remake {
	background-color: #9b9b9b;
    border-left: #c6c6c6 6px solid;
	border-right: #c6c6c6 6px solid;
}

.remake-more-details {
	background-color: #c6c6c6;
}

.remake-text {
	color: #d0d0d0;
	font-weight: 550;
}

.champion-icon {
	width: 18px;
	height: 18px;
	border-radius: 10%;
}

.player-name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
    width: 80px;
	color: #d0d0d0;
  	font-weight: 500;
	font-size: 13px;
	margin-left: 3px;
	margin-top: 0.5px;
	margin-bottom: 0.5px;
	margin-right: 2px;
}

.player-name:hover {
	color: #f6f6f6 !important;
}

.my-player-name {
	color: white !important;
	font-weight: 550 !important;
}

.my-player-name:hover {
	color: white !important;
}

.my-champion-container {
	width: 52px;
	height: 52px;
	overflow: hidden;
	border-radius: 50%;
}

.my-champion-icon {
	width: 58px;
	height: 58px;
}

.my-summoner-spell-icon {
	width: 24px;
	height: 24px;
	border-radius: 10%;
}

.my-runes-icon {
	width: 24px;
	height: 24px;
	border-radius: 10%;
	margin-top: 2px;
	margin-left: 4px;
}

.my-runes-icon-secondary {
	width: 22px;
	height: 20px;
	border-radius: 10%;
	margin-left: 6px;
}

.match-result {
	color: #d0d0d0;
	font-weight: 550;
	font-size: 14px;
}

.game-duration {
	color: #d0d0d0;
	font-size: 14px;
}

.player-link {
	text-decoration: none !important;
}

.team-margins {
	margin-top: 1.5px;
	margin-bottom: 1.5px;
}