.players-title {
  font-weight: 500;
  font-size: 50px;
  color: white;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
}

.players-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-admins-box {
  margin-right: 10px !important;
}

.show-admins-label {
  color: white;
}

.players-table {
  width: 85% !important;
}

.btns-col,
.link-col {
  text-align: center;
}

.btns-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.edit-btn, .delete-btn {
  margin-right: 2px !important;
  margin-left: 2px !important;
}

.sort-col {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .link-col {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .position-col {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .email-col {
    display: none;
  }
}
