.players-title {
  font-weight: 500;
  font-size: 50px;
  color: white;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
}

.players-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-admins-box {
  margin-right: 10px !important;
}

.show-admins-label {
  color: white;
}

.players-table {
  width: 85% !important;
}

@media screen and (max-width: 1000px) {
  .link-col {
    display: none;
  }
}
