/* common styles for all screens */
.menu-button,
.side-nav .list-group-item {
  color: #5d5d8f;
  background-color: #191a30;
  border-radius: 0 !important;
  border: 0;
  text-decoration: none;
}

.side-nav .list-group-item.active {
  background-color: #3273fb;
  color: #ffffff;
}

.side-nav .list-group-item:hover {
  background-color: #070721;
}

.side-nav .list-group-item.active:hover {
  background-color: #1854dc;
  color: #ffffff;
}

.top-nav {
  width: 100vw;
  background-color: #191a30;
  height: 65px;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.menu-button {
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  padding: 17px;
  position: relative;
  height: 65px;
  width: 65px;
}

.log-btn {
  margin-top: 10px;
  margin-right: 10px;
  padding-top: 8px !important;
  font-size: 16px !important;
  height: 45px;
  width: 75px;
  display: flex;
}

/* smaller screens */
@media screen and (max-width: 800px) {
  .side-nav {
    background-color: #000000;
    width: 100vw;
    border-radius: 0;
    height: 65px !important;
    margin-top: 65px;
    text-decoration: none;
    position: fixed;
  }

  .menu-button {
    display: flex;
    z-index: 1;
  }

  .menu-button.open {
    background-color: #070721;
  }

  .side-nav.closed {
    display: none;
  }

  .side-nav.open {
    display: flex;
  }

  .logo {
    display: none;
  }

  .gem-container {
    height: 65px;
    width: 65px;
  }

  .gem {
    margin-top: 5px;
  }
}

/* larger screens */
@media screen and (min-width: 801px) {
  .side-nav {
    background-color: #191a30;
    height: 100vh;
    border-radius: 0;
    width: 150px !important;
    text-decoration: none;
    position: fixed;
  }

  .side-nav .list-group-item:first-child {
    margin-top: 56px;
  }

  .menu-button.closed {
    display: none;
  }

  .side-nav.closed,
  .side-nav.open {
    display: flex;
  }

  .logo {
    border-radius: 0;
    border: 0;
    text-decoration: none;
  }

  .gem-container {
    display: none;
  }
}
