/* common styles for all screens */
.menu-button,
.side-nav .list-group-item {
  color: #5d5d8f;
  background-color: #191a30;
  border-radius: 0 !important;
  border: 0;
  text-decoration: none;
}

.side-nav .list-group-item.active {
  background-color: #3273fb;
  color: #ffffff;
}

.side-nav .list-group-item:hover {
  background-color: #070721;
}

.side-nav .list-group-item.active:hover {
  background-color: #3273fb;
  color: #ffffff;
}

.menu-button {
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  padding: 17px;
  position: relative;
  height: 65px;
  width: 65px;
}

.league-logo {
  width: 20px;
  height: auto;
}

.patchnotes-label {
  font-size: 16px;
  font-weight: 600;
  color: #e6913e;
}

.patchnotes-link {
  text-decoration: none;
}

/* smaller screens */
@media screen and (max-width: 800px) {
  .top-nav {
    width: 100vw;
    background-color: #191a30;
    height: 65px;
    position: fixed;
    display: flex;
    justify-content: space-between;
  }

  .side-nav {
    background-color: #191a30;
    width: 100vw;
    border-radius: 0 !important;
    height: 65px !important;
    margin-top: 65px;
    text-decoration: none;
    position: fixed;
  }

  .menu-button {
    display: flex;
    z-index: 1;
  }

  .menu-button.open {
    background-color: #070721;
  }

  .side-nav.closed {
    display: none;
  }

  .side-nav.open {
    display: flex;
  }

  .logo {
    display: none;
  }

  .gem-container {
    height: 65px;
    width: 65px;
  }

  .gem {
    margin-top: 5px;
  }

  .navbar-text {
    font-weight: 600;
    font-size: 18px;
  }

  .log-btn {
    margin-top: 16px;
    margin-right: 15px;
    font-size: 16px !important;
    height: 35px;
    width: 70px;
    color: white !important;
  }

  .patchnotes {
    display: flex;
    align-items: center;
    background-color: #0a0a29;
    padding: 4px 25px;
    border-radius: 20px; 
    width: auto !important;
    margin-left: 12px !important;
  }

  @keyframes fadeInFromTop {
    0% {
      opacity: 0;
      transform: translateY(-15px); 
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOutFromBottom {
    0% {
      opacity: 1;
      transform: translateY(0); 
    }
    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  .list-group.dropdown-menu-anim {
    display: flex;
    flex-direction: column;
    opacity: 0; 
  }

  .list-group.dropdown-menu-anim.open {
    animation: fadeInFromTop 300ms forwards; 
  }

  .list-group.dropdown-menu-anim.closed {
    animation: fadeOutFromBottom 250ms backwards; 
  }
}

/* larger screens */
@media screen and (min-width: 801px) {
  .top-nav {
    width: 100vw;
    background-color: #191a30;
    height: 72.5px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid #070721;
  }

  .side-nav {
    background-color: #191a30;
    height: 100vh;
    border-radius: 0 !important;
    border-right: 1.5px solid #070721;
    width: 150px !important;
    text-decoration: none;
    position: fixed;
  }

  .side-nav .list-group-item:first-child {
    margin-top: 56px;
  }

  .menu-button.closed {
    display: none;
  }

  .side-nav.closed,
  .side-nav.open {
    display: flex;
  }

  .logo {
    border-bottom: 1.5px solid #070721;
    text-decoration: none;
  }

  .gem-container {
    display: none;
  }

  .navbar-text {
    font-weight: 600;
    font-size: 18px;
  }

  .log-btn {
    margin-top: 15px;
    margin-right: 15px;
    padding-top: 6px !important;
    font-size: 16px !important;
    height: 40px;
    width: 75px;
    color: white !important;
  }

  .patchnotes {
    display: flex;
    align-items: center;
    background-color: #0a0a29;
    padding: 4px 25px;
    border-radius: 20px; 
    width: auto !important;
  }
}
