.queue-data-margin-top {
    margin-top: 25px !important;
}

.queue-data-header {
    color: white !important;
    background-color: #121229!important;
    border: none !important;
}

.queue-data-body {
    background-color: #121229 !important;
    border: none !important;
    border-top: #070721 1.5px solid !important;
}

.unranked-label {
    color: gray  !important;
}

/* smaller screens */
@media screen and (max-width: 800px) {
    .rank-crest {
        width: 60px;
        height: 60px;
    }

    .rank-label {
        color: white;
        font-weight: 600;
        font-size: 16px;
    }

    .win-loss-margin-top {
        margin-top: 7px !important;
    }

    .league-points {
        font-size: 14px;
        color: #d3d3d3;
    }

    .win-loss-label {
        color: #d3d3d3;
        font-size: 13px;
        text-align: right;
    }
}

/* larger screens */
@media screen and (min-width: 801px) {
    .rank-crest {
        width: 90px;
        height: 90px;
    }

    .rank-label {
        color: white;
        font-weight: 600;
        font-size: 24px;
    }

    .win-loss-margin-top {
        margin-top: 20px !important;
    }

    .league-points {
        color: #d3d3d3;
    }
    
    .win-loss-label {
        color: #d3d3d3;
        font-size: 16px;
        text-align: right;
    }
}