.app-background-color {
  background-color: #24253a;
}

.app-secondary-color {
  background-color: #464264;
}

.app-blue-accent {
  color: #6b92fa;
}

.twitter-icon {
  color: #1DA1F2;
}

.twitch-icon {
  color: purple;
}

.aftv-icon {
  color: #0545b1;
}

.youtube-icon {
  color: red;
}

.instagram-icon {
  color: #E1306C;
}