.profile-champ-icon {
  border-radius: 0;
  width: 175px;
  height: 175px;
  margin-left: 24px;
  /* position: relative; */
}

.basic-info {
  border: 1px solid #1a123f;
  border-radius: 20px;
  background-color: #241b4a;
}

.basic-info-text {
  margin-left: 24px;
}

.username,
.role,
.position,
.email {
  margin: 0;
}

.username {
  color: white;
  font-weight: 600;
  font-size: 40px;
}

.role,
.position {
  color: gray;
  font-weight: 400;
  font-size: 18px;
}

.email {
  color: gray;
  font-weight: 400;
  font-size: 16px;
}

.role-icon {
  width: 18px;
  height: 18px;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 30px;
}

.profile-msg {
  font-weight: 500;
  font-size: 50px;
  color: white;
  letter-spacing: 3px;
  display: flex;
  margin-top: 20px !important;
  margin-right: 15px !important;
  margin-left: 15px !important;
  text-align: center;
  justify-content: center;
}

.ff20, .alistar, .soraka_fire {
  text-align: center;
  justify-content: center;
  height: 128px;
  width: 128px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .profile-champ-icon {
    border-radius: 0;
    width: 175px;
    height: 175px;
    margin-left: 24px;
  }
}