.profile-champ-icon {
  border-radius: 0;
  width: 175px;
  height: 175px;
  margin-left: 24px;
}

.account-content {
  margin-left: 40px;
}

.basic-info {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 24px !important;
  border: 1px solid #1a123f;
  border-radius: 20px;
  background-color: #241b4a;
}

.basic-info-text {
  margin-left: 24px;
}

.username,
.role,
.position,
.email {
  margin: 0;
}

.username {
  color: white;
  font-weight: 600;
  font-size: 40px;
}

.role,
.position {
  color: gray;
  font-weight: 400;
  font-size: 18px;
}

.email {
  color: gray;
  font-weight: 400;
  font-size: 16px;
}

.role-icon {
  width: 18px;
  height: 18px;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 30px;
}

.edit-profile-btn {
  margin-top: 16px;
}

.profile-msg {
  font-weight: 500;
  font-size: 50px;
  color: white;
  letter-spacing: 3px;
  display: flex;
  margin-top: 20px !important;
  margin-right: 15px !important;
  margin-left: 15px !important;
  text-align: center;
  justify-content: center;
}

.ff20, .alistar, .soraka_fire {
  text-align: center;
  justify-content: center;
  height: 128px;
  width: 128px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unfav-btn {
  width: 40px;
  height: 40px;
  padding: 0 !important;
  margin-left: 4px !important;
  margin-bottom: 8px !important;
  border: 0 !important;
}

.unfav-star {
  color: lightgrey !important;
  height: 40px;
  width: 40px;
}

.fav-btn {
  width: 40px;
  height: 40px;
  padding: 0 !important;
  margin-left: 4px !important;
  margin-bottom: 8px !important;
  border: 0 !important;
}

.fav-star {
  color: #e6913e !important;
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 500px) {
  .profile-champ-icon {
    border-radius: 0;
    width: 110px;
    height: 110px;
    margin-left: 12px;
  }

  .account-content {
    margin-left: 24px;
  }

  .basic-info {
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 10px;
  }

  .basic-info-text {
    margin-left: 14px;
  }

  .username {
    color: white;
    font-weight: 400;
    font-size: 20px;
  }
  
  .role,
  .position {
    color: gray;
    font-weight: 250;
    font-size: 12px;
  }
  
  .email {
    color: gray;
    font-weight: 250;
    font-size: 12px;
  }
  
  .role-icon {
    width: 12px;
    height: 12px;
  }
  
  .title {
    color: white;
    font-weight: 400;
    font-size: 18px;
  }

  .email-edit-container .edit-profile-btn {
    font-size: 12px !important;
    margin-top: 8px;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
  }

  .unfav-btn {
    width: 25px;
    height: 25px;
    padding: 0 !important;
    margin-left: 4px !important;
    margin-bottom: 8px !important;
    border: 0 !important;
  }
  
  .unfav-star {
    color: lightgrey !important;
    height: 25px;
    width: 25px;
  }
  
  .fav-btn {
    width: 25px;
    height: 25px;
    padding: 0 !important;
    margin-left: 4px !important;
    margin-bottom: 8px !important;
    border: 0 !important;
  }
  
  .fav-star {
    color: #e6913e !important;
    height: 25px;
    width: 25px;
  }
}